**.a
bal
bals2db
bin/curlpp-config
can_orders
ckey
closeout
convtest
**.d
*.db
delta
deps.all
doit
etc/default_target
etc/fuck.def
etc/goals.json
etc/goals.json.cur
etc/goals.json.new
etc/goals.json.save
etc/make_jobs_flag
etc/*.mk
etc/shit
etc/shit.def
etc/todos.json
fuck
fuckme
.gdb_history
get_bals
get_order_hist
get_trans
guard
ham
hd_addrs
**.ii
include
libcoin.a.lock
lib/pkgconfig/
log/
make.out
markets
mk_html
mkts2db
**.o
onebal
orders
*.out
output
patch
ppjson
prices
show_deps
tags
tc_stat
t/ham.txt
unit_test
util_unit_tests
xkey
