**.a
**.d
**.ii
**.o
bal
balance.json
ckey
delta
deps.all
doit
fuck
fuckme
get_bals
get_trans
ham
hd_addrs
include
libcoin.a.lock
make.out
markets.json
onebal
output
prices
show_deps
t/ham.txt
tags
tc_stat
xkey
can_orders
convtest
markets
orders
ppjson
-s
get_order_hist
*.db
bals2db
.gdb_history
closeout
etc/default_target
etc/fuck.def
etc/make_jobs_flag
etc/shit
etc/shit.def
log/
mkts2db
order.json
orders.json
patch
