**.a
**.d
**.ii
**.o
*.db
-s
.gdb_history
bal
bals2db
can_orders
ckey
closeout
convtest
delta
deps.all
doit
etc/default_target
etc/fuck.def
etc/make_jobs_flag
etc/shit
etc/shit.def
fuck
fuckme
get_bals
get_order_hist
get_trans
ham
hd_addrs
include
libcoin.a.lock
log/
make.out
markets
mkts2db
onebal
orders
output
patch
ppjson
prices
show_deps
t/ham.txt
tags
tc_stat
xkey
